{% extends "layout.html" %}    <!-- これで元になるHTML(laytout.html)を指定 -->
{% block body %}    <!-- layout.htmlのbodyというブロックを以下で置き換える -->
  <!-- <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
    <dl>
      <dt>Name:
      <dd><input type="text" size="20" name="name">
      <dt>Birthday:
      <dd><input type="date" name="birthday">
      <dd><input type="submit" value="Submit">
    </dl>
  </form> -->

  <form action="{{ url_for('filter_entry') }}" method="post" class="add-entry">
    <h3>Search</h3>
    <dl>
      <dt>Name:
      <dd><input type="text" name="name">
      <dt>Aliases Name:
      <dd><input type="text" name="aliasename">
      <dt>Tag:
      <dd><input type="text" name="tag">
      <dd><input type="submit" value="Search">
    </dl>
  </form>

  <ul class="entries">
  {% for entry in entries %}
    <li><h2>{{ entry.name }}</h2>{{ entry.rating }}
  {% else %}
    <li><em>No entries.</em>
  {% endfor %}
  </ul>
{% endblock %}